<section>
    <h3>{{ data.title }}</h3>
    <ul>
        <li>Level: {{ data.level }}</li>
        <li>Casting time: {{ data.casting }}</li>
        <li>Range: {{ data.range }}</li>
        <li>Components: {{ data.components }}</li>
        <li>Duration: {{ data.duration }}</li>
        <li>Classes: {{ data.classes }}</li>
    </ul>
    <p>{{ data.text }}</p>

    <p><small><i>Context: {{ data.context }}</i></small></p>
</section>
