@use '../../../global';

section {
    width: 60%;
    margin-left: 20%;
    background-color: global.$square;
    padding: 2em;
    margin-top: 4em;
}

h3 {
    margin: 0px;
    text-align: center;
    width: 100%;
}