<article>
    <h1>Leveling</h1>

    <p>You level up by earning milestone points. Milestone points are earned whenever significant contribution is
        made to the story, such as making an alliance, defeating a larger boss, advancing in the guild or making
        advances in resolution of background story. When that happens, entire group present earns a milestone paint.
        Please note that giving out milestone points is completely at DM's discretion.</p>

    <p>Whenever a group member dies, if less than, or equal to, half of the group died, they get to make character
        that is equal level as the lowest level of surviving members, but without milestone points towards the next
        level.</p>

    <p>If more than half of the group died however, new characters are of the lowest level for the campaign and
        without milestone points towards the next level</p>

    <table>
        <tr>
            <th>Level</th>
            <th>Milestone points to advance</th>
        </tr>
        <tr>
            <td>1</td>
            <td>&#9711;</td>
        </tr>
        <tr>
            <td>2</td>
            <td>&#9711;&#9711;</td>
        </tr>
        <tr>
            <td>3</td>
            <td>&#9711;&#9711;&#9711;</td>
        </tr>
        <tr>
            <td>4</td>
            <td>&#9711;&#9711;&#9711;&#9711;</td>
        </tr>
        <tr>
            <td>5</td>
            <td>&#9711;&#9711;&#9711;&#9711;&#9711;</td>
        </tr>
        <tr>
            <td>6</td>
            <td>&#9711;&#9711;&#9711;&#9711;&#9711;</td>
        </tr>
        <tr>
            <td>7</td>
            <td>&#9711;&#9711;&#9711;&#9711;&#9711;</td>
        </tr>
        <tr>
            <td>8</td>
            <td>&#9711;&#9711;&#9711;&#9711;&#9711;</td>
        </tr>
        <tr>
            <td>9</td>
            <td>&#9711;&#9711;&#9711;&#9711;&#9711;</td>
        </tr>
        <tr>
            <td>10</td>
            <td>&#9711;&#9711;&#9711;&#9711;&#9711;&#9711;</td>
        </tr>
        <tr>
            <td>11</td>
            <td>&#9711;&#9711;&#9711;&#9711;&#9711;&#9711;</td>
        </tr>
        <tr>
            <td>12</td>
            <td>&#9711;&#9711;&#9711;&#9711;&#9711;&#9711;</td>
        </tr>
        <tr>
            <td>13</td>
            <td>&#9711;&#9711;&#9711;&#9711;&#9711;&#9711;</td>
        </tr>
        <tr>
            <td>14</td>
            <td>&#9711;&#9711;&#9711;&#9711;&#9711;&#9711;</td>
        </tr>
        <tr>
            <td>15</td>
            <td>&#9711;&#9711;&#9711;&#9711;&#9711;&#9711;&#9711;</td>
        </tr>
        <tr>
            <td>16</td>
            <td>&#9711;&#9711;&#9711;&#9711;&#9711;&#9711;&#9711;</td>
        </tr>
        <tr>
            <td>17</td>
            <td>&#9711;&#9711;&#9711;&#9711;&#9711;&#9711;&#9711;</td>
        </tr>
        <tr>
            <td>18</td>
            <td>&#9711;&#9711;&#9711;&#9711;&#9711;&#9711;&#9711;</td>
        </tr>
        <tr>
            <td>19</td>
            <td>&#9711;&#9711;&#9711;&#9711;&#9711;&#9711;&#9711;&#9711;</td>
        </tr>
        <tr>
            <td>20</td>
            <td></td>
        </tr>
    </table>
</article>