@use '../../../global';

#monster {
    background-color: global.$square;
    max-width: 600px;
    padding: 1em;
}

h4 {
    margin: 0px;
}

table {
    width: 100%;
    border: none;
    margin-left: 0px;
    font-size: 0.8em;
}

td, th {
    border: none;
    padding: 0.1em;
}

h5 {
    margin-bottom: 2px;
    text-align: left;
}
