<article>
    <h1>Home rules</h1>

    <h2>Long rest</h2>

    <p>Long rest doesn't heal anything but allows you to use your hit die as part of it. On finished long rest you
        still get half of your hit die back. Spell slots and</p>

    <h2>Two spells in one turn</h2>

    <p>You can cast 2 spells in one turn as long as one of them is a cantrip. (They still need to be one for action
        and one for bonus action)</p>

    <h2>Taking a potion</h2>

    <p>It only takes a bonus action to take a potion you have it in possession. It still takes full action to administer it to someone else.</p>
    </article>