<article>
    <h1>Spelljamming Guide for Quam Setting</h1>

    <p><i>Spelljammer was a setting for D&D 2e. This document uses it as inspiration but is heavily modified system in
        every aspect. It is published under <a href="https://company.wizards.com/fancontentpolicyw">Wizards of the Coast
          Fan Content Policy</a> and as such freely available to everyone.</i></p>

    <h2>Introduction</h2>

    <p>Space between planes is called Astral Sea. And it being a sea, it is traversed by ships called Spelljammers. It
      has a surface made of unknown magic called phlogiston that all the planes, moons, stars and meteorites float on.
      This magic is the reason that the movement in space is mostly two dimensional, just like sailing on any other sea.
    </p>

    <p>Astral sea is immense and traveling through it is basically impossible without magic. Spelljammers solve that
      problem by using spelljamming helms that can propel ships to warp speeds allowing them to traverse wasteness of
      the universe in mere hours, as long as there is magic to fuel them.</p>

    <p>The space is divided into what is called "wells" and thus all ships have two different modes of movement - warp
      movement between wells and regular movement inside the well. The wells are considered to be organized in sort of a
      grid but that cannot be proven since no one actually traveled between two wells without using warp speed. The
      distances are just too large. </p>

    <h2>Helms</h2>

    <p>Every spelljammer has a helm that provides propulsion for the ship. Each helm has a reservoir of magical energy
      that can be filled up by using spell slots. Everyone can help fuel up the ship, but only its helmsman, attuned to
      the helm, can use it to propel ship at warp speed. Every helm has couple of important properties:</p>

    <h4>Reservoir size</h4>

    <p>Maximum amount of energy that can be stored at once. A reservoir of size 5 can
      store total 5 levels of spell slots, for example 1 level 1 and 2 level 2 spell slots.</p>

    <h4>Max warp</h4>

    <p>Biggest spell slot that can be stored in the reservoir. This is important as it determines
      maximum warp speed of the ship (every jump can consume only one unit). A ship with max warp 4 can consume 4th
      level spell slot to jump 4 wells in one hour. A ship with max warp 2 can only jump 2 wells in one hour. Bigger
      spell slots can still be stored in reservoir but will break apart into chunks of max warp or smaller (so on a
      ship with max warp 2 the 5th level spell slot becomes 2 level 2 units and 1 level 1.</p>

    <h4>Speed</h4>

    <p>Determines the speed of the ship inside the well. Total speed of the ship inside the well is calculated as the
      sum of helm's speed and helmsman intelligence modifier (measured in 100 m / minute, 100m = 1 hex on the battle
      grid and 1 minute is standard round in ship to ship combat)</p>

    <h4>Cooldown</h4>

    <p>Amount of time between two warp jumps. Essentially amount of time that a ship must stay in a well before jumping
      forward.</p>

    <h3>Usage</h3>

    <p>A helm needs to be attuned to the helmsman, who needs to spend short rest to attune to it. It takes attunement
      spot. While attuned to the helm the helmsman can't cast spells that require concentration and is considered
      restrained while the ship is moving. Being removed from the helm forcefully causes ship to stop moving and warp to
      fail with ship taking 2d10 hull damage and ending in the closest well.</p>

    <p>Helmsman attuned to the helm and sitting in it gains special awareness of the ship. As an action, they can see
      from any point in or on the ship until the start of their next turn. During this time, they are deaf and blind
      with regard to their own senses.
    </p>

    <p>Jumping into warp causes a warp hole to appear. For the next 3 minutes any other ship can jump into that
      hole to travel to the same destination as the first ship without using their own warp drive. Distance is halved
      for each ships that does that (rounded down). if the distance becomes 0 jump is canceled and all ships are
      returned to the beginning of the warp hole. Energy used for the attempted jump is lost.
    </p>

    <p>Major planes are encircled into crystal spheres to keep phlogiston out. Traveling through the sphere is possible,
      but requires warp 2 jump in each direction. Ships that can only do warp 1 can't enter or exit crystal sphere
      without using a portal.
    </p>

    <h3>Other variations</h3>

    <p>While the standard arcane helm is by far the most common other variants exist:</p>

    <h4>Lifejammer Helm</h4>

    <p>A helm that consumes life energy and uses it as propulsion. Current state of the art lifejammer helms
      exchange 20 hp or one life taken per unit of propulsion. Used by slave traders, necromancers and life mages.
    </p>

    <h4>Artiforge</h4>

    <p>Mostly used by dwarves this type of helm is able to shift entire citadel one well forward. Propulsion is
      connected to sustained burning of forge and creative energy of the forge masters. It is however extremely slow
      compared to other types of helms, capable of one warp 1 jump every 6 days.
    </p>

    <h4>Orbus</h4>

    <p>Special helm that uses specially mutated aberration as a permanent helmsman. Produced in cooperation between
      Simbio conclave and arcane. It is extremely expensive, used mostly by ilithid, beholders and other psionic
      beings.</p>


    <h2>Ship</h2>

    <p>Ships are build in all manners of shapes and sizes as phlogiston doesn't adhere to same rules of aerodynamics,
      They have a few important properties:</p>

    <h4>Armor class</h4>

    <p>Armor class of the ship. Very similar to Armor class of the person</p>

    <h4>Hull Points</h4>

    <p>Hull points for ships are identical to Hit Points for characters and monsters. They measure the amount of damage
      the ship can sustain before it is destroyed. For the purpose of attacking with regular attacks and spells one hull
      point equals 10 hp, and the damage is rounded down. So for example a spell doing 23 points of fire damage against
      the ship would cause it to lose 2 hull points.</p>

    <h4>Maneuverability</h4>

    <p>Ships have maneuverability that is equal or more than 0 and signifies number of hexes a ship has to move before
      it can change direction for one angle on a hex map. For example a ship with maneuverability 1 can turn one angle,
      then move one hex forward before it can turn again. A ship with maneuverability 0 can turn on the spot without
      making and straight movement in between. It is important to note that turning also takes one point of movement for
      that turn. So for example a ship with helm speed of 3 with helmsman's intelligence modifier 2 has 5 points of
      movement per round. assuming maneuverability of 1 this means that a ship can move 1 hex, rotate 1 angle, move 1
      hex, rotate 1 angle and again move one 1 hex on each of its turns or move 5 hexes straight ahead.</p>

    <h4>Tonnage</h4>

    <p>Amount of things ship can carry, measured in standard crates.</p>

    <ul>
      <li>A crew member or a passenger on a ship counts as 1 crate, 2 if the size is large or larger. Tiny creatures
        only take half.</li>
      <li>Enough water and food to last person a week also takes one crate.</li>
      <li>Enough materials to fix 1 hull point of damage also takes one crate.</li>
    </ul>

    <h4>Weaponry</h4>

    <p>Each ship has an array of siege weaponry that it can use for attack or defense. Most common weapons are:</p>

    <h5>Ballista</h5>

    <ul>
      <li><em>Range:</em> 5 hexes (500 m)</li>
      <li><em>Speed:</em> Can attack every turn</li>
      <li><em>Damage:</em> 1d4 hull points or 2d10 against creatures.</li>
      <li><em>Ammunition:</em> Heavy bolt, 10 heavy bolts is one standard crate.</li>
      <li><em>Crew:</em> 2 crew members</li>
    </ul>

    <p>A Ballista is a massive crossbow that fires heavy bolts.</p>

    <h5>Gnomish Sweeper</h5>

    <ul>
      <li><em>Range:</em> 5 hexes (500 m)</li>
      <li><em>Speed:</em> Can attack every turn</li>
      <li><em>Damage:</em> 2d4 hull points or 4d10 against creatures.</li>
      <li><em>Ammunition:</em> 2 Heavy bolts per shot, 10 heavy bolts is one standard crate.</li>
      <li><em>Crew:</em> 3 crew members</li>
    </ul>

    <p>A gnomish design of double ballista.</p>

    <h5>Trebuchet</h5>

    <ul>
      <li><em>Range:</em> 8 hexes (800 m)</li>
      <li><em>Speed:</em> Can attack every second turn</li>
      <li><em>Damage:</em> 2d6 hull points or 6d10 against creatures.</li>
      <li><em>Ammunition:</em> 1 stone boulder per shot, 1 boulder per standard crate.</li>
      <li><em>Crew:</em> 4 crew members</li>
    </ul>

    <p>A Trebuchet is a powerful catapult that throws its payload in a high arc. A trebuchet typically hurls a heavy
      stone.</p>

    <h5>Cannon</h5>

    <ul>
      <li><em>Range:</em> 6 hexes (600 m)</li>
      <li><em>Speed:</em> Can attack every turn</li>
      <li><em>Damage:</em> 1d6 hull points or 3d10 against creatures.</li>
      <li><em>Ammunition:</em> 1 cannon ball per shot, 5 cannon balls per standard crate.</li>
      <li><em>Crew:</em> 3 crew members</li>
    </ul>

    <p>Modern siege weapon first created by the goblins of fireskin clan.</p>

    <h5>Alchemist fire projector</h5>

    <ul>
      <li><em>Range:</em> 1 hexes (100 m)</li>
      <li><em>Speed:</em> Can attack every turn</li>
      <li><em>Damage:</em> 1d12 hull points or 6d10 against creatures.</li>
      <li><em>Ammunition:</em> 1 oil drum per shot, 2 oil drums per standard crate.</li>
      <li><em>Crew:</em> 2 crew members</li>
    </ul>

    <p>This device shoots a thin stream of flaming, explosive liquid.</p>

    <h5>Grappling ram</h5>

    <ul>
      <li><em>Range:</em> Melee</li>
      <li><em>Speed:</em> Can attack every turn</li>
      <li><em>Damage:</em> 3d4 hull points. Ship hit by a grappling ram must use 5 points of movement to unhook.</li>
      <li><em>Ammunition:</em> </li>
      <li><em>Crew:</em> None, attack roll is made by helmsman</li>
    </ul>

    <p>Mounted to the front of ships, a Ram consists of nothing more than a heavy log, shod in iron.</p>

    <h4>Landing gear</h4>

    <p>Most spelljammers (but not all) are equipped with some form of landing gear, be it for water landing, ground
      landing on floating anchor. Landing gear determines where the ship can land without crushing. Floating anchor
      requires a tower or a high dock to disembark safely.</p>

    <h2>Roles on the Ship</h2>

    <h3>Cook</h3>

    <p>Responsible for food preparation as well as food stock. Cook has the final say in rationing and other decisions
    </p>

    <h3>Engineer</h3>

    <p>The Engineer takes care of the repair and fitting out of the vessel, and examines whether it is sufficiently
      provided with ropes, pulleys, sails, and all the other rigging that is necessary for a voyage. On each of ships
      turns and engineer can attempt a DC 15 Athletic check to use 1 repair package (one crate in size) to repair 1 hull
      point of damage</p>

    <h3>First Mate</h3>

    <p>The force of personality necessary to hold together an unruly bunch of scallywags, the First Mate handles the
      crew in the best of times and the worst of times. At the start of every ship's turn the first mate can make a DC
      15 persuasion check to grant +2 on all ship's weapon attack and ability checks made by other crew members until
      the end of the turn.</p>

    <h3>Gunner</h3>

    <p>The Gunner is in charge of maintaining and firing the weapons systems aboard a Spelljamming ship. This includes
      ensuring that all weapons are kept in good repair. Once per turn the gunner can make DC 15 Perception check to
      grant all siege weapons + 2 for the turn.</p>

    <h3>Helmsman</h3>

    <p>The Helmsman is in charge of navigating the ship through spaces unknown. Helmsman is in charge of moving the ship
      on each of its turn</p>

    <h3>Magic Officer</h3>

    <p>Magic officer's role is to keep communications up and send messages to ports and other ships using standard
      communications array of the ship (takes level 1 spell slot to send a message of 25 words or less to a standard
      receiver in the same well.</p>

    <h3>Ship's doctor</h3>

    <p>Responsible for the health of the crew, a ship's doctor can stabilize any creature on ship during each of the
      ship's turns.</p>

    <h2>Air in space</h2>

    <p>Every ship has an air envelope surrounding it. The air in that envelope is measured is man days of air. When all
      the air goes stale the suffocation begins. During suffocation creatures on the ship must make a DC 20 Con save
      every hour. On first fail the creature is knocked unconscious. On second failed save the creature dies.</p>

    <h2>Feats</h2>

    <h3>Long Distance Traveler</h3>

    <p>Increase your Constitution score by 1, to a maximum of 20. You only breath half of the air that would be required
      for your size. You have advantage on saving throws for malnourishment and dehydration.</p>

    <h3>Space Nomad</h3>

    <p>You have advantage on Survival checks to navigate and Perception checks that rely on Sight on the Astral plane.
      The non warp speed of a ship that crews a character with the Nomad feat is increased by 1. You have advantage on
      Persuasion checks when attempting to recruit new crew members or be recruited as a crew member.</p>

    <h3>Handyman</h3>

    <p>You automatically succeed on any checks to avoid being knocked prone as the result of ship shaking. You have
      advantage on any checks when it comes to repairing the ship or scavenging resources to repair the ship. You can
      fill two positions on the ship, taking an action for both roles during ship's turn.</p>

    </article>