<article>
  <h1>Prologue</h1>

  <p>
    Last member of an the ancient high nobility, lady Irulan is orphaned and
    exiled from her homeland. Gathering what allies she has left she is dead set
    on reclaiming what should be hers if it means taking one entire Empire of
    men. Will you join her?
  </p>
</article>
