<h1>Player Material</h1>

<h2 routerLink="campaigns">Campaigns</h2>

<app-campaigns-menu></app-campaigns-menu>

<h2 routerLink="setting">Setting</h2>

<app-setting-menu></app-setting-menu>

<h2 routerLink="rules">Rules</h2>

<app-rules-menu></app-rules-menu>

<h2 routerLink="homebrew">Homebrew</h2>

<app-homebrew-menu></app-homebrew-menu>