<h1>Playable Races</h1>

<table>
  <tr>
    <th>Race</th>
    <th>Subrace</th>
    <th>Names</th>
    <th>Notes</th>
    <th>Source</th>
  </tr>
  <tr>
    <td>Aarakocra</td>
    <td></td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=f&surname=&usage_heb=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=m&surname=&usage_heb=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Proud peoples with severe discomfort in closed spaces. Hard to earn their
      trust, but fiercely loyal once you earn friendship. Great majority
      worships air primordial Akadi.
    </td>
    <td>
      <a
        href="https://media.wizards.com/2015/downloads/dnd/EE_PlayersCompanion.pdf"
        >EE</a
      >
    </td>
  </tr>
  <tr>
    <td>Aasimar</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>Protector</td>
    <td>Varies depending on lineage, mostly have human names.</td>
    <td>
      People with (pre-fall) angelic blood. Most have some form of contact with
      the divine. Many are contacted by their angelic ancestors and relatives
      via dreams or similar.
    </td>
    <td>VGM p104</td>
  </tr>
  <tr>
    <td></td>
    <td>Scourge</td>
    <td>Varies depending on lineage, mostly have human names.</td>
    <td>
      People with (pre-fall) angelic blood. Most have some form of contact with
      the divine. Many are contacted by their angelic ancestors and relatives
      via dreams or similar.
    </td>
    <td>VGM p104</td>
  </tr>
  <tr>
    <td></td>
    <td>Fallen</td>
    <td>
      Most have public human names and private devil names.
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=f&surname=&usage_grem=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=m&surname=&usage_grem=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      People with (post-fall) devil blood. Most have some form of contact with
      devils cults. Many are contacted by their devilish ancestors and relatives
      via dreams or similar.
    </td>
    <td>VGM p104</td>
  </tr>
  <tr>
    <td>Autognome</td>
    <td></td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=f&surname=&usage_ger=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=m&surname=&usage_ger=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Popular design by the Church of invention and Ignis league gnomes. They
      are combination of new experiments and schematics recovered from the age
      od arcana.
    </td>
    <td>
      <a
        href="https://media.wizards.com/2021/dnd/downloads/UA2021_TravelersoftheMultiverse.pdf"
        >UA</a
      >
    </td>
  </tr>
  <tr>
    <td>Bugbear</td>
    <td></td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=f&surname=&usage_bul=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=m&surname=&usage_bul=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      While often members of different orcish and goblinoid clans they rarely
      form fully bugbear clans. In civilized societies they usually stay on the
      edge preferring membership in the underground organizations to other lines
      of work. They rarely achieve high positions even among those
      organizations.
    </td>
    <td>VGM p119</td>
  </tr>
  <tr>
    <td>Centaur</td>
    <td></td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=f&surname=&usage_fri=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=m&surname=&usage_fri=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Usually nomadic, centaurs are known for their connection to stars, being
      much desired navigators in wilderness and among stars. Oracles are common
      among centaurs. They tend towards spirit and nature worship, serving
      primordials far more often than gods and are often members of different
      druidic and ranger factions. Common members of adventuring parties.
    </td>
    <td>GGR p15</td>
  </tr>
  <tr>
    <td>Changeling</td>
    <td></td>
    <td>
      Depends on chosen persona, rarely keep one name throughout their life.
    </td>
    <td>
      Changeling find their home among other races, usually hiding their true
      identity their whole lives. Many people of Brightstar consider existence
      of changelings a myth. Many of them are recruited by underground
      organizations and Church of Whispers but even more prefer to live their
      lives without using their abilities in any way.
    </td>
    <td>Eberron: RfLW p17</td>
  </tr>
  <tr>
    <td>Dhampir</td>
    <td></td>
    <td>
      Whatever name they ad in previous life / was given to them by their
      parents
    </td>
    <td>
      Half changed into a vampire or born to a vampire and non-vampire, dhampirs
      are very rare, and hard to make. Most of them are created by the
      Hemomancers of the Road, to be used as a muscle and guards.
    </td>
    <td>VRGR p16</td>
  </tr>
  <tr>
    <td>Dragonborn</td>
    <td></td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=f&surname=&usage_chi=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=m&surname=&usage_chi=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Artificially created to be perfect warriors by the Ewon empire during the
      age or arcanum, most dragonborn still serve in dragon legions. Regular
      people are generally afraid of them and avoid them if possible.
    </td>
    <td>PH p32</td>
  </tr>
  <tr>
    <td></td>
    <td>Chromatic</td>
    <td></td>
    <td></td>
    <td>
      <a
        href="https://media.wizards.com/2021/downloads/Unearthed-Arcana-2021-Draconic-Options.pdf"
        >UA</a
      >
    </td>
  </tr>
  <tr>
    <td></td>
    <td>Metallic</td>
    <td></td>
    <td></td>
    <td>
      <a
        href="https://media.wizards.com/2021/downloads/Unearthed-Arcana-2021-Draconic-Options.pdf"
        >UA</a
      >
    </td>
  </tr>
  <tr>
    <td></td>
    <td>Gem</td>
    <td></td>
    <td></td>
    <td>
      <a
        href="https://media.wizards.com/2021/downloads/Unearthed-Arcana-2021-Draconic-Options.pdf"
        >UA</a
      >
    </td>
  </tr>
  <tr>
    <td>Dwarf</td>
    <td></td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=f&surname=&usage_iri=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=m&surname=&usage_iri=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Proud of their families, dwarves track lineages carefully. When a dwarf
      dies it turns into a statue made of stone and metals. Famous dwarven
      heroes are then melted and enchanted into powerful ancestral weapons and
      that with the family.
    </td>
    <td>PH p18</td>
  </tr>
  <tr>
    <td></td>
    <td>Hill Dwarf</td>
    <td></td>
    <td>
      Hill dwarves rarely turn into metal, making ancestral weapons much rarer
      among them. They are however traditionally masters of runes, transferring
      many secrets of their creation in their families.
    </td>
    <td>PH p18</td>
  </tr>
  <tr>
    <td></td>
    <td>Mountain Dwarf</td>
    <td></td>
    <td>
      Successors to the 8 nine clans tracing their bloodlines back to the times
      of primordial giants. They are master miners and build entire cities
      underground.
    </td>
    <td>PH p18</td>
  </tr>
  <tr>
    <td></td>
    <td>Duergar</td>
    <td></td>
    <td>
      Ancestors of the lost 9th clan of dwarves. Demontouched, they are known
      for their mastery of arcane magic, aligience to demons and sunlight
      sensitivity. Their ancestral weapons are usually enchanted with arcane
      magic instead of divine.
    </td>
    <td>MToF p81</td>
  </tr>
  <tr>
    <td>Elf</td>
    <td></td>
    <td></td>
    <td>
      Known for their wisdom, long lives and dedication to art, beauty and
      emotional expression, most elves live slow lives of contemplation and
      artistry. This predisposition naturally leads them towards fields that
      require a lot of time to master, such as high magic and gene manipulation.
    </td>
    <td>PH p18</td>
  </tr>
  <tr>
    <td></td>
    <td>High Elf</td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=f&surname=&usage_est=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=m&surname=&usage_est=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Mostly living in Hamudar on Amoria in elysium, high elves built their
      entire society based on beauty. Small number of elves considered to be the
      most beautiful in body and soul are chosen to become immortals - unaging
      group of high elves kept alive by collective society worship.
    </td>
    <td>WGE p73</td>
  </tr>
  <tr>
    <td></td>
    <td>Wood Elf</td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=f&surname=&usage_lat=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=m&surname=&usage_lat=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      The most common elves and the ones most likely to live in mixed society.
      Wood elves are known for their affinity for plants, naturally tending
      towards natural magic. They have long history of worshipping primordials.
    </td>
    <td>WGE p73</td>
  </tr>
  <tr>
    <td></td>
    <td>Drow</td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=f&surname=&usage_fin=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=m&surname=&usage_fin=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Spread between Udadrow (underdark drow), Aevendrow (starlight space draw)
      and Lorendrow (isolationist jungle drow), dark elves mixed their
      bloodlines with spiderlike shifters called aranea, giving them special
      abilities and limited control over spiders. They have strict matriarch
      society with men having almost no rights.
    </td>
    <td>PHB p21</td>
  </tr>
  <tr>
    <td></td>
    <td>Eladrin</td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=f&surname=&usage_nor=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=m&surname=&usage_nor=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Elves manipulated by archfey, most of eladrim belong to one of the five
      fey courts of feywild. They also form the core of elven navy.
    </td>
    <td>MToF p61</td>
  </tr>
  <tr>
    <td></td>
    <td>Sea Elves</td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=f&surname=&usage_swe=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=m&surname=&usage_swe=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Elves adapted to the aquatic living, they use corals and algae in the same
      way other elves use trees. Most of them live in the eversea where they
      have small country lead by shamans.
    </td>
    <td>MToF p62</td>
  </tr>
  <tr>
    <td></td>
    <td>Shadar-kai</td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=f&surname=&usage_por=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=m&surname=&usage_por=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Elves picked out and manipulated over generations by Nera, the Raven Queen
      until nothing remained of their original culture. Now they either serve
      her unquestionably or, rarely, are on the run from her.
    </td>
    <td>MToF p62</td>
  </tr>
  <tr>
    <td></td>
    <td>Moon (Pallid) Elf</td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=f&surname=&usage_lat=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=m&surname=&usage_lat=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Pallid elves share common ancestry with drow, but they did not mix their
      blood with aranea. Most of them worship Kyoko, the Everdream. Being
      nomads, they don't build large works of art like other elves, preferring
      transportable illusions instead.
    </td>
    <td>EGW p163</td>
  </tr>
  <tr>
    <td></td>
    <td>Avariel</td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=f&surname=&usage_lth=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=m&surname=&usage_lth=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Rarely seen and often confused with angels, avariel build small villages
      high up in the mountains and on the floating rocks of Taks. They are
      shamanistic, worshiping Akadia and prefer their own company to everyone
      elses.
    </td>
    <td>
      <a href="https://media.wizards.com/2017/dnd/downloads/UA-ElfSubraces.pdf"
        >UA</a
      >
    </td>
  </tr>
  <tr>
    <td></td>
    <td>Grugach</td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=f&surname=&usage_lat=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=m&surname=&usage_lat=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Subrace of elves generally living deep in the wilderness, far from
      civilization. they form the backbone of Jotoka, militaristic druid order
      responsible for many terrorist attacks across the setting. They are
      generally shunned and hated by more civilized races.
    </td>
    <td>
      <a href="https://media.wizards.com/2017/dnd/downloads/UA-ElfSubraces.pdf"
        >UA</a
      >
    </td>
  </tr>
  <tr>
    <td></td>
    <td>Astral Elf</td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=f&surname=&usage_ice=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=m&surname=&usage_ice=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Race of elves that got changed by the low gravity environment of astral
      sea. They build their cities in the meteor belts, enjoying the look at the
      stars from there.
    </td>
    <td>
      <a
        href="https://media.wizards.com/2021/dnd/downloads/UA2021_TravelersoftheMultiverse.pdf"
        >UA</a
      >
    </td>
  </tr>
  <tr>
    <td>Firbolg</td>
    <td></td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=f&surname=&usage_cat=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=m&surname=&usage_cat=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Proud hunters and survivalists. Most often found in frontier towns and
      wilderness shelters. Strong communal spirit, sharing all possessions with
      their clan and friends. Do not like to carry shields as they consider it
      cowardly.
    </td>
    <td>VGM p106</td>
  </tr>
  <tr>
    <td>Genasi</td>
    <td></td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=f&surname=&usage_ara=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=2&sets=5&gender=m&surname=&usage_ara=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Created by primordials by combining human ancestors with elemental
      spirits, genasi feel deep connection with nature and their respective
      element, feeling happiest and most comfortable where it is most common.
      For that reason they rarely leave their homes in underworld, but when they
      do, they seek locations that are abundant in their element.
    </td>
    <td>
      <a
        href="https://media.wizards.com/2015/downloads/dnd/EE_PlayersCompanion.pdf"
        >EE</a
      >
    </td>
  </tr>
  <tr>
    <td></td>
    <td>Alara Genasi</td>
    <td></td>
    <td>Genasi belonging the plane of song and light.</td>
    <td>HB</td>
  </tr>
  <tr>
    <td></td>
    <td>Albarand Genasi</td>
    <td></td>
    <td>Genasi belonging to the winter lands.</td>
    <td>HB</td>
  </tr>
  <tr>
    <td></td>
    <td>Atropia Genasi</td>
    <td></td>
    <td>Genasi belonging to the lands of undead.</td>
    <td>HB</td>
  </tr>
  <tr>
    <td></td>
    <td>Dukhan Genasi</td>
    <td></td>
    <td>Genasi belonging to the lands of darkness and smoke.</td>
    <td>HB</td>
  </tr>
  <tr>
    <td></td>
    <td>Eversea (water) Genasi</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>Furna (fire) Genasi</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>Ixoria Genasi</td>
    <td></td>
    <td>Genasi belonging to the land of titans and monsters.</td>
    <td>HB</td>
  </tr>
  <tr>
    <td></td>
    <td>Lamnia Genasi</td>
    <td></td>
    <td>Genasi belonging to the land of forests and plants.</td>
    <td>HB</td>
  </tr>
  <tr>
    <td></td>
    <td>Mustan Genasi</td>
    <td></td>
    <td>Genasi belonging to the land of swamps and ooze.</td>
    <td>HB</td>
  </tr>
  <tr>
    <td></td>
    <td>Magbar Genasi</td>
    <td></td>
    <td>Genasi belonging to the land of entropy and death.</td>
    <td>HB</td>
  </tr>
  <tr>
    <td></td>
    <td>Roarlands (earth) Genasi</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>Shirath Genasi</td>
    <td></td>
    <td>Genasi belonging to the land of storm and thunder.</td>
    <td>HB</td>
  </tr>
  <tr>
    <td></td>
    <td>Taks (air) Genasi</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Giff</td>
    <td></td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=f&surname=&usage_alb=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=m&surname=&usage_alb=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Militaristic in nature, Giff have no country of their own. They serve as
      mercenaries and bodyguards filling ranks of purple pretorians and zentalar
      across the setting.
    </td>
    <td>
      <a
        href="https://media.wizards.com/2021/dnd/downloads/UA2021_TravelersoftheMultiverse.pdf"
        >UA</a
      >
    </td>
  </tr>
  <tr>
    <td>Gith</td>
    <td></td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=f&surname=&usage_arm=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=m&surname=&usage_arm=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Human ancestors morphed by the grand concord and used as slaves. Many of
      them got their freedom during the fall of the concord, when they turned
      against their masters, siding with primordials and gaining favors with
      them.
    </td>
    <td>MToF p96</td>
  </tr>
  <tr>
    <td></td>
    <td>Githyanki</td>
    <td></td>
    <td>
      Trained fighters from birth, githyanki remain ever vigilant watching for
      return of the grand concord and hunting down any ilithids they can find.
      While waiting they spend their time honing their fighting skills as
      fighters and pirates on the astral sea.
    </td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>Githzerai</td>
    <td></td>
    <td>
      After the fall of grand concord some gith came into the service of
      dragons, forming early backbone of Jeskai. They combined their martial
      proves with teachings of dragons becoming first experts in martial arts.
    </td>
    <td></td>
  </tr>
  <tr>
    <td>Gnome</td>
    <td></td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=f&surname=&usage_ger=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=m&surname=&usage_ger=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Small and crafty, gnomes are synonymous with craft and invention. They
      work as tinkerers and artificers. They worship Ayo as their head deity,
      forming sizable portion of the church of invention and ignis league. they
      prefer to avoid conflict when possible but will rely on their extremely
      complex siege engines when needed.
    </td>
    <td>PH p35</td>
  </tr>
  <tr>
    <td></td>
    <td>Forest Gnome</td>
    <td></td>
    <td>
      Forest gnomes are the most common variety and one most likely to mix with
      other races.
    </td>
    <td>PH p35</td>
  </tr>
  <tr>
    <td></td>
    <td>Rock Gnome</td>
    <td></td>
    <td>
      Rock gnomes tend to build their own cities that rely both on camouflage
      and defensive mechanisms. Bigger races are not welcomed and nothing is
      adapted to their size.
    </td>
    <td>PH p35</td>
  </tr>
  <tr>
    <td></td>
    <td>Svirfneblin (deep gnome)</td>
    <td></td>
    <td>
      Militaristic, less cheerful gnomes carving out their survival in the
      darkest places of the universe. They often serve stronger beings as scouts
      and guards.
    </td>
    <td>MToF p113</td>
  </tr>
  <tr>
    <td>Goblin</td>
    <td></td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=f&surname=&usage_cro=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=m&surname=&usage_cro=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Goblins of Brightstar are divided between forestskins (green), fireskins
      (red) and smokeskins (grey). Despite sharing most of the culture different
      tribes tend to stay separate and compete more often than cooperate. In
      goblin society the advancement of a clan is far more important than any
      single life, which leads to goblins happily taking dangerous jobs or even
      becoming suicide fighters.
    </td>
    <td>VGM p119</td>
  </tr>
  <tr>
    <td>Goliath</td>
    <td></td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=f&surname=&usage_bas=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=m&surname=&usage_bas=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Known as people of the mountains, goliaths tend to live in small nomadic
      tribes led by a chieftan (male) and a shaman (female). Tall, strong and
      resistant to environment goliaths of both sexes fight without any armour
      using large heavy weapons. Their most prized possession are their herds of
      goats that produce special cheeze known to prolong life and have other
      magical effects.
    </td>
    <td>
      <a
        href="https://media.wizards.com/2015/downloads/dnd/EE_PlayersCompanion.pdf"
        >EE</a
      >
    </td>
  </tr>
  <tr>
    <td>Grung</td>
    <td></td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=f&surname=&usage_fntsm=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=m&surname=&usage_fntsm=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Living in remote, hot, swampy jungle environments, elusive grung live in
      small colorful villages made of bamboo living flowers and dried grass.
      They are sought after for their expertise with poisons and drugs. Many
      villages keep active trade relationship with underground organizations.
      Grung are known to travel with powerful assassins to prepare fresh poisons
      targeted exact race and weight of their target.
    </td>
    <td>OGA</td>
  </tr>
  <tr>
    <td>Hadozee</td>
    <td></td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=f&surname=&usage_fntsm=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=m&surname=&usage_fntsm=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Native to the Giant mountains of Othrys, Hadozee spread through the
      universe after their home was twisted during the world havoc. Many traded
      their tall tree homes for masts of ships and spelljammers, while some
      became prized builders known as the 5th floor crew for their ability to
      work on tall towers with great agility.
    </td>
    <td>
      <a
        href="https://media.wizards.com/2021/dnd/downloads/UA2021_TravelersoftheMultiverse.pdf"
        >UA</a
      >
    </td>
  </tr>
  <tr>
    <td>Half-Elf</td>
    <td></td>
    <td>
      Most half elves get named by one of the parents in the tradition of their
      peoples
    </td>
    <td>
      Most often an offspring of a human male and an elven female, half elves
      are rare and usually shunned by the male members of elven society. Because
      of their longevity they are more respected among humans, usually finding
      home with them. Most half elves are unable to have children of their own
      but when they can, they give birth to the lineage of feyfolk, their mixed
      blood persisting for many generations.
    </td>
    <td>PH p38</td>
  </tr>
  <tr>
    <td>Half-Orc</td>
    <td></td>
    <td>Most half orcs use orc names.</td>
    <td>
      Orcs society pays no attention to blood purity and different versions of
      half orcs are almost as common as pure blood orcs. Most look
      indistinguishable to other members of orc tribe and consider themselves
      true orcs.
    </td>
    <td>PH p38</td>
  </tr>
  <tr>
    <td>Halfling</td>
    <td></td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=m&surname=&usage_fre=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=f&surname=&usage_fre=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Known for their kindness, relaxed demeneor, merryment and good cooking
      (and being always late), halfling are a staple in hospitality business
      accross the universe.
    </td>
    <td>PH p26</td>
  </tr>
  <tr>
    <td></td>
    <td>Lightfoot Halfling</td>
    <td></td>
    <td>
      Known as the crazy ones among the halflings lightfoots are the most
      curious ones and most prone to becoming adventurers.
    </td>
    <td>PH p26</td>
  </tr>
  <tr>
    <td></td>
    <td>Stout Halfling</td>
    <td></td>
    <td>
      Staut halflings live in small villages often build into the hill or at
      least having large systems of tunels nearby for their storage needs. They
      are main producers of tobacco. They are also known for their pumpking
      festival, 3 days long party where a competition for the largest pumpking
      grown that year is held.
    </td>
    <td>PH p26</td>
  </tr>
  <tr>
    <td></td>
    <td>Ghostwise Halfling</td>
    <td></td>
    <td>
      Psionically gifted subrace, ghostwise halfling tent to carve the living
      around frontier towns. Unlike other halfling races they prefer farm
      animals to the fields and gardens.
    </td>
    <td>SCAG p110</td>
  </tr>
  <tr>
    <td></td>
    <td>Ghostwise Halfling</td>
    <td></td>
    <td>
      Psionically gifted subrace, ghostwise halfling tent to carve the living
      around frontier towns. Unlike other halfling races they prefer farm
      animals to the fields and gardens.
    </td>
    <td>SCAG p110</td>
  </tr>
  <tr>
    <td></td>
    <td>Lotusden Halfling</td>
    <td></td>
    <td>
      Also known as wood halflings this subrace lives deep into temperate
      forests itentionally promoting edible plants, slowly turning entire forest
      around the village into their wild garden. They build their houses under
      the roots of large trees. They are the least trusty of the outsiders.
    </td>
    <td>EGW p164</td>
  </tr>
  <tr>
    <td>Hexblood</td>
    <td></td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=f&surname=&usage_dan=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=m&surname=&usage_dan=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      Created by hags, most hexbloods either serve specific covens or become
      part of the Crows. Escaping hexbloods are not rare but that almost never
      find a place in civilized societies.
    </td>
    <td>VRGR p18</td>
  </tr>
  <tr>
    <td>Hobgoblin</td>
    <td></td>
    <td>
      <ul>
        <li>
          f:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=f&surname=&usage_rus=1"
            >link</a
          >
        </li>
        <li>
          m:
          <a
            href="https://www.behindthename.com/random/random.php?number=4&sets=5&gender=m&surname=&usage_rus=1"
            >link</a
          >
        </li>
      </ul>
    </td>
    <td>
      String willed, militaristic and uncompromising, most hobgoblins live on
      their traveling cities, rulling over large number of slaves, attacking
      smaller stationary settlements for supplies and slaves.
    </td>
    <td>VGM p119</td>
  </tr>
</table>
