<article>
    <h1>Prologue</h1>

    <p>It is 10 years after the first ship sailed south, fortified by the magic of lady Sienna and the blessing of the
      White Queen. It is 8 years since she came back full of stories of a new, wild and magical land full of adventures
      and opportunities. Many ships have gone and came back since, bringing stories of riches and monsters, of heroes
      conquering the wilderness on the new continent. There are many reasons why people left their homeland and
      travelled south. Some wanted adventures, others wanted riches. The White Queen promised forgiveness to all who
      take the voyage and the land to all who can take it. Mages sent their own in hopes to get back magical components
      and artifacts, Vedalken citadel sent their master cartographer to chart the lands beyond and retrieve technology
      if any can be found. Many poor and hopeful sold their farms to pay for the voyage.
    </p>

    <p>When I arrived, Port Irulan was already a small, bustling colonial town not completely unlike what I've left
      behind. It has inns, shops and brothels. There are even walls being built around it to protect it from wilderness
      beyond. It is there that I heard about Quam, about a small village on the frontier, out there in a wilderness.
      Where real adventures and real opportunities are. That morning I packed all my possessions and set out. At the
      south gate, I am joined by the colorful group of adventurers, not unlike me. And this is where our story begins.
    </p>
</article>