<article>
<h1>Planar Empire</h1>

<h2>Geography</h2>

<p>
  Planar empire consists of Central empire and 15 in large part self governing
  provinces with vastly different laws, races and habits.
</p>

<h3>Central empire</h3>

<p>
  Grasslands and temperate forests around Fogmere. Ruled by imperial family
  directly. Central position in empire makes it important crossroad for trade
  routes. It is crossed by the great river, giving it quick access to the sea
  via river boats.
</p>

<h4>Fogmere</h4>

<p>
  Capital of the Planar empire, it is large bustling trace city built on both
  sides of the Great River. There are three bridges connecting both halves while
  still allowing river boats of all sizes to pass unobstructed. City is known
  for beautiful end exuberant imperial palace, halls of justice, where the
  highest court of the land is located, three towers, the main seat of mage
  guild, and beautiful platinum temple dedicated to Bahamut.
</p>

<h3>Arrakis</h3>

<p>
  The most north-western province of the empire. Sparsely settled dessert with
  hot days and cold nights. Most people are nomads. Ruled by mysterious being
  called Engel-Micha.
</p>

<h4>Arkta</h4>

<p>
  Oasis city in Arrakis with large tower of Engel-Micha. Most known for
  perfumeries and glass shops as well as large market selling spices that are
  then transported all across the empire.
</p>

<h3>Firelands</h3>

<p>
  Western most province of the empire. In the north it borders the deserts of
  Arrakis and in the south it rises into the Star mountains. Vulcanic lands with
  many hot springs, home to famous dragon wineries. Ruled by the democratically
  selected body of 8 red lords, that serve for 8 years.
</p>

<h4>Valta</h4>

<p>
  City built between hot springs keeping it warm and moist place all year
  around. Deposits of sulfur and other chemicals as well as unique flora make it
  popular destination for many alchemists and herbalists.
</p>

<h3>Star mountains</h3>

<p>
  Highest mountains of the Planar empire. Sparsely settled, even in valleys.
  Home to many monastic orders and fighting monks. Some high mountain caves are
  known to be inhabited by mystics and oracles. Nominally ruled by high priests
  of Kelemvor, Lathander and Savras.
</p>

<h4>Valley of Peace</h4>

<p>
  Valley in which main temple to Kelemvor is located. It was carved by small
  stream called River of life. Water from the spring is known to be extremely
  harmful to all forms of undead and it is said that no undead can come into the
  valley sanctified by divine powers of Kelemvor.
</p>

<h3>Paln</h3>

<p>
  Stuck between Star mountains in North-west, Southern mountains in the south
  and Great river in the east, Paln is naturally well protected. It features two
  mountains in its heart called Iron and Copper mountains. It has large dwarven
  and minotaur populations. Main industries are mining, stone carving and slave
  trade. Class differences in Paln are probably more stark than anywhere else in
  the Empire and the slave population the biggest.
</p>

<h4>Paln City</h4>

<p>
  Large city built into an ancient crater. Rich districts are positioned higher
  up where they get more sun while poor people and slaves live in small houses
  and caves towards the bottom. Lowest part of the city is reserved for a large
  slave market. City defenses are mostly built to keep people that aren't
  allowed to leave inside.
</p>

<h3>Emnet</h3>

<p>
  Rocky featureless lands between Firelands and Central empire. Ruled by the
  vedalken techno council. Home to Vedalken research citadel and technological
  centre of empire. Mostly populated by dwarves and gnomes and goblinoids, with
  vedalken population being the largest of any province in the empire.
</p>

<h4>Vedalken Citadel</h4>

<p>
  Large city that grew around original research center of vedalken scientists.
  It is the most technically advanced city in empire with all sorts of forges
  and factories. It is also heavily polluted with both magical and chemical
  pollution as the result of heavy industry and research.
</p>

<h3>Allistrad</h3>

<p>
  Large wide steppe on the northern edge of empire. but on western side of
  Northern mountains. Known for its horses and nomadic tribes it is also home to
  majority of empire's centaurs. Ruled by the great khan, position being
  transferred from one person to another in a knife only combat.
</p>

<h4>Allistrad (city)</h4>

<p>
  Semi permanent city slowly moving around the steppe as new caravans arrive and
  leave. It is a meeting place for the clans where chieftains are appointed by
  combat, trade happens and marriages get arranged.
</p>

<p></p>

<h3>Delta</h3>

<p>
  Southern-most province of the continental empire, placed in a delta of the
  Great river. Rich in farmlands, and deep connection to the sea. Home to
  tritons and sea elves. Ruled by an ancient family of sea elves intermarried
  with humans.
</p>

<h4>Port of Delta</h4>

<p>
  A city where sea elves, tritons and humans meet. Large chunks of city are
  built under water or in shallow waters with air tunnels and water pools
  allowing all of its citizens access to all parts of the city. City is
  protected by magical defenses and water elementals allowing it to rise
  tsunamis against approaching enemies.
</p>

<p></p>

<h4>Gate</h4>

<p>
  City located on the northern side of delta where the Great River crosses
  Southern mountains making it by far the easiest way to reach sea for most of
  the empire. A place of trade as well as extremely important fort from the
  times of war with Isle of the Wise when it protected the continental empire.
  Still a mighty fort and one of major camps of imperial army.
</p>

<h3>Salusa</h3>

<p>
  Stony, inhospitable province across Northern mountains. Dry, untamed it would
  be almost uninhabited if not for large deposits of precious metals and gems.
  Ruled by a Harkonnens, barbarian kings turned rich aristocrats.
</p>

<h4>Urgsall</h4>

<p>
  Also known as the "eagle's nest" Urgsall is a heavily fortified fortress city
  rising above the wild lands behind Northern mountains. It is also the northern
  most city of the empire protecting it from threats from that direction. Many
  of its more prominent citizens got extremely rich after discovering multiple
  mines of precious metals, but they are still value military discipline and
  frontier mentality so their houses aren't as opulent as elsewhere.
</p>

<h3>Dwarven Kingdom</h3>

<p>
  Mountainous region between Northern mountains, Central empire and Irian. Ruled
  by dwarven kings. Grad canyons and deep karst caves often reaching into
  Underdark.
</p>

<h4>Bilburg</h4>

<p>
  Hilltop city of dwarves, known for its beer and mead, both produced locally.
  Recipes are handed down through families and kept secret. Once a year citizens
  celebrate day of fists, a large city wide brawl after which all resentment
  should be forgiven.
</p>

<h4>Kronio</h4>

<p>
  Capital of Dwarven kingdom and home to High king. The only source of mithral
  in the empire. Produces some of the best weapons in the empire. Large parts of
  the city are closed off to non dwarves for the fear of spies looking to steal
  dwarven plans and techniques for weapons and armor manufacture.
</p>

<h3>Irian</h3>

<p>
  Large sparsely populated ancient forests on the southern side of Northern
  mountains. Portals into Feywild are common there and majority of population
  are either elves or half elves. Ruled by ancient human noble family with quite
  a few elven members. The family holds little actual power and mostly act as
  representatives from the province in imperial bodies.
</p>

<h4>Irian</h4>

<p>
  Largest town in the province and home to Baley family. It features large
  gardens and beautiful elven architecture with most house being made of wood,
  often incorporating living trees. It has no fortress or city walls and no real
  industry to speak of.
</p>

<h4>Dragonshire</h4>

<p>
  Small village with a palace of dragonborn noble family that moved to Irian
  after the collapse of the Isle of the Wise.
</p>

<h4>Hillfar</h4>

<p>
  Northern most town in Irian, at the feet of Northern mountains. Last stop for
  merchants and travelers trying to enter Salusa through Irian.
</p>

<h3>Sunlands</h3>

<p>
  Large lowlands with mild weather and fertile ground. Large halfling
  population.
</p>

<h4>Fledo</h4>

<p>
  Capital of the Sunlands, Fledo is a small bustling town mostly inhabited by
  halflings with many houses being simply to small for larger races. Known for
  its bard college and the sheer number of inns and taverns.
</p>

<h3>Lakland</h3>

<p>
  Lakes surrounded by forests south of Irian. Mostly inhabited by humans.
  Because fey aren't as present here the forests are much more exploited with
  thriving lumberjack and fur industries. Many rich people of the empire
  including imperial family keep hunting palaces here. Ruled by regent chosen by
  the imperial family, whose main function is collecting taxes and keeping
  illegal poachers away from the lands of rich.
</p>

<h4>Dolgosk</h4>

<p>
  Small town by the lake with Regent's castle on the hill above it. Large
  taverns cater to hunting nobles who don't have a dedicated palace or are on
  their way to it. Most citizens work in hospitality in one way or another.
</p>

<h3>Gont</h3>

<p>
  A land of thousand temples, Gond is a theocracy ruled by grand bishop of
  Pelor. Rich cities and temple villages get visited by a lot of pilgrims,
  feeling coffers of many great churches. Over past few hundred years Gont also
  became increasingly xenophobic and racist which led to pogroms of many races
  considered subhuman.
</p>

<h4>Gont City</h4>

<p>
  Old capital of the province, Gont city was built on a lake formed by the Great
  River. It is a fishing city that used to be important trading center before
  the rise of new capital in Okana.
</p>

<h4>Okana</h4>

<p>
  New capital of Gont built around the largest temple of Pelor. Important center
  of pilgrimage and administration ever since bishops of Pelor took over Gont.
  The temple is a small town in itself holding hundreds of clerics and monks
  performing services, and the city around it offers accommodations and
  merchandise to hordes of pilgrims and fanatics. Parts of the city has recently
  been closed off to the races considered animalistic by the heads of the church
  of Pelor.
</p>

<h3>Pentaburg</h3>

<p>
  Area of five large port cities east of delta on the southern coast of Gont.
  Cosmopolitan and urban, ruled by the council of 5, each city sending one
  representative to the council.
</p>

<h4>Ben-Shaul</h4>

<p>
  Western most city of the Pentaburg, at the feet of southern mountains.
  Commands large fishing fleet
</p>

<h4>Ben-Akatol</h4>

<p>Ship building city east of Ben-Shaul and west of Ben-Iyens</p>

<h4>Ben-Iyens</h4>

<p>Main port of imperial Navy</p>

<h4>Ben-Gard</h4>

<p>
  Large town where sailors get recruited. Lots of taverns and public houses.
  Rumors of pirate connections.
</p>

<h4>Ben-Raka</h4>

<p>
  Eastern most city of the empire and last outpost inside of it for ships moving
  eastwards.
</p>

<h3>Isles of the Wise</h3>

<p>
  Chain of islands south of the Planar Empire. Once a powerful nation and a
  cradle of civilization, now mostly erased through multiple wars and mutinies.
</p>

<h4>Port Kristobal</h4>

<p>
  Northern most city of the Isles, became capital of the province for a while
  after fall of the Wise. Tropical colonial port town.
</p>

<h4>Sophiko</h4>

<p>
  Ancient capital of the Island as well as new capital after lady Irulan took
  over. New buildings built on top of old ones.
</p>

<h4>Port Horatus</h4>

<p>
  A pirate city on the Sun island, build in a cave in a cliff. Controlled by a
  beholder.
</p>

<h4>Port Celania</h4>

<p>
  Halfling town on the island called Celania. Export of tropical fruits. Ruled
  by Baron McCellan.
</p>

<h4>Oaculco</h4>

<p>The night town, temple city of Anubis. A place of eternal night.</p>

<h4>Muan</h4>

<p>
  Port city on the Southern land. Over 90% natives. Tropical wooden houses.
  Close to ancient pyramid of unknown origin.
</p>

<h4>Muanrin</h4>

<p>
  Small town inland on the Southern Land. The only non natives are the
  missionaries of Kelemvor.
</p>

<h2>Guilds</h2>

<h2>Important People</h2>

<h3>Imperial Family</h3>

<h4>Emperor Timian, Lord of Planar Empire and King of Kings</h4>

<p>Aging Emperor, now leaving most of day to day work to his son Prince Esperan</p>

<h4>Prince Esperan II</h4>

<p>Only son of the emperor, he is first in line for the crown and also defacto ruler of the empire with his father retreating from politics.</p>

<h4>Lady Valera Harkonnen</h4>

<p>Adopted daughter of Lord Dimitri Harkonnen and capable enchantress. Wife of prince Esperan II.</p>

<h4>Lady Isabell</h4>

<p>Oldest daughter of Prince Esperan II and Lady Valera.</p>

</article>
