<article>
    <h1>Ratfolk</h1>

    <p><em>Ability Score Increase.</em> Your Dexterity score is increases by 2. Your wisdom increases by 1.</p>

    <p><em>Age.</em> Ratfolk mature faster than humans reaching adulthood at around 3. On average they live about 30
        years.</p>

    <p><em>Alignment.</em> All ratfolk lean towards chaotic alignments.</p>

    <p><em>Size.</em> Ratfolk stand between 3 and 4 feet tall and average about 70 pounds. Your size is Small.</p>

    <p><em>Speed.</em> Your base walking speed is 30 feet. If wearing heavy armor or carrying heavy weapons this
        speed is reduced to 20. You also have climbing speed of 30 feet, while not wearing heavy armor.</p>

    <p><em>Darkvision.</em> Accustomed to life underground, you have superior vision in dark and dim conditions. You
        can see in dim light within 60 feet of you as if it were bright light, and in darkness as if it were dim
        light. You can’t discern color in darkness, only shades of gray.</p>

    <p><em>Ratfolk Resilience.</em> You have advantage on saving throws against poison, and you have resistance
        against poison damage. You are immune to non magical diseases.</p>

    <p><em>Languages.</em> You can speak, read, and write Common and Undercommon.</p>

    <p><em>Infected Bite.</em> Bite. Your fanged maw is a natural weapon with finesse property, which you can use to
        make unarmed strikes. If you hit with it, you deal piercing damage equal to 1d4 + your dex or strength
        modifier, instead of the bludgeoning damage normal for an unarmed strike. On hit target must succeed a DC 8
        + your proficiency modifier + your constitution modifier saving throw or be poisoned for 1 minute. While
        poisoned in this way all healing is halved.</p>
    </article>