<article>
    <h1>Jobs !!!</h1>

    <p>Under the sponsorship of her majesty, The White Queen, with the approval and help of Hermione, her royal wizard
      of great esteem and under leadership of Lady Sienna, Master Engineer, the most advanced sea faring craft of
      all times is about to take on the high seas and sail into the unknown. Liveship Green Dot is looking for mates of
      experience and brave hearts to take her on this historical voyage. Positions still in need of filling are as
      follow:</p>

    <h4>The cook</h4>

    <p><i>Experience in preparing meals and proficiency with cook utensils is required.</i></p>

    <h4>Boatswain</h4>

    <p><i>Because of unique requirements of liveship a boatswain is expected to have proficiency in both carpenter's
        tool and healing magic.</i></p>

    <h4>Healer</h4>

    <p><i>Proficiency with healer's kit and healing magic is required for this position. Know that healing duties will
        be spread between crew and the ship.</i></p>

    <h4>Priest</h4>

    <p><i>A priest of one of the bigger official churches, advantage will be given to clerics of Bahamut, Xihe,
        Kelemvor, Malar or Osprem. Priest is expected to perform ceremonies on the route so knowledge of that ritual is
        a strong requirement.</i></p>

    <h4>Greenthumb</h4>

    <p>Among the crew are expected to be 4 chickens and a small arrangement of edible plants that this person of druidic
      leaning is expected to grow and nurture at the benefit of whole crew. A way of communicating with the beast is a
      big bonus.</p>

    <h4>Fighting Hand</h4>

    <p>This position is expected to mount one of the ships 4 ballistae and protect the ship from many of the dangers of
      the wild sea. In case of any new land being discovered the fighting hand will be expected to protect
      scientific and diplomatic expeditions.</p>

    <h4>Wizard</h4>

    <p>An individual of exceptional arcane learning and the soul of explorer. This crew member is expected to provide
      magical services on ship, operate sending stones to communicate with empire and crew scientific expeditions</p>

    <h4>Diplomat</h4>

    <p>An individual of high charisma and learning, expected to know comprehend languages spell that would allow
      communication with natives of any land discovered. Will crew diplomatic expeditions.</p>

    <h4>Scout</h4>

    <p>Great eyesight and great agility at climbing up and down the mast are a strong requirement for this position.
      Position is also limited to persons under 100 kg and doesn't cover injuries from falling from the mast.</p>

    <p>Only one person per position will be selected. The compensation for the two way voyage is 2000 gold pieces for
      standard crew with additional 1 gold per day of voyage and standard bonuses for responsible positions as per
      approved merchant guild rates. In case of mishap the full sum will be paid to next of kin upon learning of the
      faith or after 4 years from the day of departure.</p>

    </article>