<h1>Homebrew Spells</h1>

<h2>Cantrips</h2>

<app-spell [data]="ice_bolt"></app-spell>

<h2>1</h2>

<app-spell [data]="arcans_mind_transposition"></app-spell>

<app-spell [data]="create_destroy_air"></app-spell>

<app-spell [data]="freezing_ray"></app-spell>

<app-spell [data]="cold_arc"></app-spell>

<h2>2</h2>
<h2>3</h2>

<app-spell [data]="ice_ball"></app-spell>

<h2>4</h2>
<h2>5</h2>

<app-spell [data]="ambers_scorching_verdict"></app-spell>

<app-spell [data]="hermiones_snowstorm"></app-spell>

<h2>6</h2>
<h2>7</h2>
<h2>8</h2>
<h2>9</h2>
